<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <!-- Bootstrap JS (optional, for components that require JS) -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/javascripts/index.js"></script>
    <script type="module" src="/javascripts/class.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('login.ejs') %>
    <%- include('register.ejs') %>
    <%- include('home.ejs') %>
    <%- include('daily_diary.ejs') %>
    <%- include('notification_register.ejs') %>
</body>
</html>