<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <!-- Bootstrap CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
    <!-- Bootstrap JS (optional, for components that require JS) -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../public/js/index.js"></script>
    <script type="module" src="../public/js/class.js"></script>
</head>
<body>
    <%- include('views/header.ejs') %>
    <%- include('views/login.ejs') %>
    <%- include('views/register.ejs') %>
    <%- include('views/home.ejs') %>
    <%- include('views/daily_diary.ejs') %>
    <%- include('views/notification_register.ejs') %>
</body>
</html>